* {
  padding: 0;
  margin: 0;
}

.navbar-inverse {
  background-color: #020202;
}
body {
    position: relative;
    color: black;
}
#home {
  padding-top:300px;
  height:100vh;
  color: #fff;
  background-color: #1E88E5;
  background: url("../img/home.jpg") center center;
  background-size: cover;
}
#home img {
  height: 20vh;
  border-radius: 50%;
}
#mid {
  text-align: center;
  width: 50%;
  margin: 0vh auto;
  text-shadow: 0 0 4px black;
  margin-bottom: 0px;
}
#mid h1 {
  margin-bottom: 0px;
}

.name{
  display: block;
}

#ourTeam {
  padding-top:300px;
  height:100vh;
  color: black;
  background-color: #673ab7;
  background: url("../img/ourteam.jpg") center center;
  background-size: cover;
  text-align: center;
}
#ourTeam img {
  align: left;
  margin: 0vh; 
}
.circle {
  border-radius: 50%;
  height: 20vw;
}

@media screen and (min-width: 400px) {
  .profile-picture {
    padding-top: -100px;
  }
  .container_name {
    margin-top: -10px;
  }
  .circle {
    border-radius: 50%;
    height: 10vw;
  }
}


#story {
  padding-top:300px;
  height:100vh;
  color: #fff;
  background: url("../img/story.jpg") center center;
  background-size: cover;
}
#str{
  padding-bottom: 30px;
}
#storymid {
  text-align: center;
  margin:auto;
  width: 60%;
  height: 60vh;
  overflow-y:auto;
  text-shadow: 3 5 4px black;
  text-decoration-color: black;
}
#strmid::-webkit-scrollbar { 
  /* This is the magic bit */
  display: none;
}
#story p {
  color: black;
  font-size: 18px;
}



  
.prev, .next {
  transition: 0.2s ease;
}
#photo {
  padding-top:300px;
  height:100vh;
  color: #fff;
  background: url("../img/photo.jpg") center center;
  background-size: cover;
}
#photo img{   
  width: 100%; 
  height: 100%;
  object-fit: contain;
}
#photos{
  width: 60vw;
  margin: auto;
}
.carousel-indicators {
  margin-bottom: 20px;
}
.carousel-caption{
  margin-bottom: 10px;
  font-size: 5vw;
}