.navbar-inverse {
  background-color: #020202;
}
body {
    position: relative;
    color: black;
}
#home {
  padding-top:50px;
  height:100vh;
  color: #fff;
  background-color: #1E88E5;
  background: url("../img/home.jpg") center center;
  background-size: cover;
}
#home img {
  height: 20vh;
  border-radius: 50%;
}
#mid {
  text-align: center;
  width: 50%;
  margin: 35vh auto;
  text-shadow: 0 0 4px black;
}
#mid h1 {
  margin-bottom: -35px;
  font-weight: bold;
 }



#about {
  padding-top:0.2vh;
  height:100vh;
  color: #fff;
  background-color: #673ab7;
  background: url("../img/about.jpg") center center;
  background-size: cover;
}
#aboutmid {
  text-align: center;
  margin: 20vh auto;
  width: 40%;
  text-shadow: 0 0 4px black;
}
#about img {
  height: 30vh;
  border-radius: 50%;
}
#about h3 {
  text-align: center; 
  font-weight: bold;
}
#about p {
  font-weight: bold;
  font-size: 16px;
}

  
.prev, .next {
  transition: 0.2s ease;
}
#gallery {
  padding-top:20vh;
  height:100vh;
  color: #fff;
  background: url("../img/gallery.jpg") center center;
  background-size: cover;
  text-shadow: 0 0 4px black;
  text-align: center;
  font-weight: bold;
}
#gallery img{   
  width: 100%; 
  height: 100%;
  object-fit: contain;
}
#gall{
  width: 50%;
  margin: auto;
}
.carousel-caption{
  text-shadow: 0 0 4px black;
}
.carousel-indicators {
  margin-bottom: 20px;
}
.carousel-caption{
  margin-bottom: 10px;
}